<div class="row">
    <div class="col-10 offset-1">
        <ng-container *ngIf="!isLoading">
            <h1 class="text-center my-5">Nombre d'ordinateurs en stock : {{ computers.length }}</h1>



                <table class="table text-center">
                    <thead class="bg-thead">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Modele</th>
                            <th scope="col">Marque</th>
                            <th scope="col">Type</th>
                            <th scope="col">Categorie</th>
                            <th scope="col">Prix d'achat</th>
                            <th scope="col">Prix de vente</th>
                            <th scope="col">Rentabilité</th>
                            <th scope="col">Date d'entrée en stock</th>
                            <th scope="col">Modifier</th>
                            <th scope="col">Supprimer</th>
                            <th scope="col">Voir le détail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="computer" *ngFor="let computer of computers">
                            <th scope="row">{{ computer.id }}</th>
                            <td> {{ computer.modele }} </td>
                            <td> {{ computer.marque }} </td>
                            <td> {{ computer.type }} </td>
                            <td> {{ computer.categorie }} </td>
                            <td> {{ computer.prixAchat }} </td>
                            <td> {{ computer.prixVente }} </td>
                            <td> {{ computer.prixVente - computer.prixAchat | number }} </td>
                            <td> {{ computer.dateEntryStock| date : 'd/MM/y' }} </td>
                            <td><a [routerLink]="['/computer/edit', computer.id]">
                                    <fa-icon [icon]="faEdit"></fa-icon>
                                </a>
                            </td>
                            <td>
                                <a class="deleteComputer" (click)="deleteComputer(computer)" style="color: red;cursor: pointer;">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </a>
                            </td>
                            <td> 
                                <a [routerLink]="['/computer/', computer.id]" class="computerDetail">
                                    <fa-icon [icon]="faInfoCircle"></fa-icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        </ng-container>
    </div>
</div>


<ng-container *ngIf="isLoading">
    <fa-icon [spin]="true" [icon]="faSpinner"></fa-icon>
</ng-container>